body {
   
    font-family: 'Courier New', sans-serif;
    margin: 20px;
    white-space:pre-wrap;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  

  .board-row:after {
      
    clear: both;
    content: "";
    
  }

  #rapper {
   display:flex;
   height: 1000px;
   width: 700px;
   
}
#first {
    top:-80px;
    float:left; 

}
#second {
   float: left;
    
}
#third {
    float: left;
}

#fourth{
   
    clear:left;
}
  
  .status {
       
    font-family: 'Courier New', sans-serif;
    margin: 20px;
    white-space:pre-wrap;
    margin-left: 50px;
    margin-bottom: 50px;
  }

  .border {
      display: inline-block;
      font-size: 20px;
    border-radius: 25px;
    border: 10px solid #c789f6;
    padding: 20px;
    width: 400px;
    height: 1000px;
  /*  position:absolute; left:600px; top:100px*/
  }

#box{
   
    width: 50px;
    height: 50px;
}

  .hmm {
    font-size: 36px;
    font-weight: bold;

    font-family: 'Courier New', sans-serif;
  /*  font-family: 'New Century Schoolbook',  serif;*/
    text-align: left;
    margin-left: 50px;
    margin-bottom: 50px;
  }
    



  .giganticbox{
      width: 1000;
      height: 1000;
      border: 5px solid
  } 
  
  .letter {
    background: rgb(255, 255, 255);
    border: 5px solid rgba(91, 135, 231, 0.756);
    float: left;
    font-family: 'Courier New', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    height: 60px;
    margin-right: -3px;
    margin-top: -3px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
    width: 100px;
  }

  .letter.main{
    position: relative;
    top: 50px;
    left: 50px;
    margin-right: 50px;
    background: rgb(245, 240, 159);
      
  }

  .hex-col{
    display: flex;
    align-items: center;

  }

  .hexagon {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-family: 'Courier New', sans-serif;
    font-weight: bold;
    text-align: center;
    border:0;
    height: 100px;
    width: 60px;
    background: rgb(186, 242, 222);
    position:relative;
    left:25px;
    box-sizing: border-box ;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .hexagon::before, .hexagon::after {
    content:"";
    position: absolute;
    height: 0;
    width: 0; 
    top:0;
    /* half height */
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
  }
  .hexagon::before {
    left:-25px;
    border-right:25px solid rgb(186, 242, 222);
  }
  .hexagon::after {
    right:-25px;
    border-left:25px solid rgb(186, 242, 222);
  }

  .hexagon.middle {
    background-color: #f7c9f1;
  }
  .hexagon.middle::before {
    left:-25px;
    border-right:25px solid #f7c9f1;
  }
  .hexagon.middle::after {
    right:-25px;
    border-left:25px solid #f7c9f1;
  }


  .hex1::before {
    
    content: "\2B22";
    color: orange;
    font-size:35px;
  }
  
  .hex2::before {
    font-size: 24px;
    font-weight: bold;
    
 

    content: "\2B22";
    display:block;
    color: rgb(97, 174, 243);
    font-size:135px;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
 


  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 50px;
  }


  #wrapper {
    display: flex;
  }
  
  #left {
    flex: 0 0 65%;
 
  }
  
  #right {
    flex: 1;
  }
  