body {
    font: 36px Futura, Arial, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }


  
  .status {
    margin-left: 50px;
    margin-bottom: 50px;
  }

  .border {
      display: inline-block;
      font-size: 20px;
    border-radius: 25px;
    border: 2px solid #c789f6;
    padding: 20px;
    width: 400px;
    height: 1000px;
  /*  position:absolute; left:600px; top:100px*/
  }



  .hmm {
    font-size: 30px;
  /*  font-family: 'New Century Schoolbook',  serif;*/
    text-align: left;
    margin-left: 50px;
    margin-bottom: 50px;
  }
    



  .giganticbox{
      width: 1000;
      height: 1000;
      border: 5px solid
  } 
  
  .letter {
    background: rgb(255, 255, 255);
    border: 5px solid rgba(91, 135, 231, 0.756);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    height: 60px;
    margin-right: -3px;
    margin-top: -3px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
    width: 60px;
  }

  .letter.main{
    background: rgb(204, 253, 119);
      
  }

  .hex-col{
      margin-top: 50px;
  }

  .hexagon {
    font-size: 24px;
    font-weight: bold;
    border:0;
    height: 100px;
    width: 60px;
    background: rgb(131, 190, 249);
    position:relative;
    left:25px;
    box-sizing: border-box ;
    margin-right: 40px;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
  }
  .hexagon::before, .hexagon::after {
    content:"";
    position: absolute;
    height: 0;
    width: 0; 
    top:0;
    /* half height */
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
  }
  .hexagon::before {
    left:-25px;
    border-right:25px solid rgb(131, 190, 249);
  }
  .hexagon::after {
    right:-25px;
    border-left:25px solid rgb(131, 190, 249);
  }



  .hex1::before {
    
    content: "\2B22";
    color: orange;
    font-size:35px;
  }
  
  .hex2::before {
    font-size: 24px;
    font-weight: bold;
    
 

    content: "\2B22";
    display:block;
    color: rgb(97, 174, 243);
    font-size:135px;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
 


  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 50px;
  }


  #wrapper {
    display: flex;
  }
  
  #left {
    flex: 0 0 65%;
  }
  
  #right {
    flex: 1;
  }
  